In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("adult.data (1).csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [5]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [6]:
df["education"].value_counts()

education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64

In [7]:

df["race"].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

What is the average age of men?

In [8]:
round(df[df["sex"]=="Male"]["age"].mean(),1)

np.float64(39.4)

What is the percentage of people who have a Bachelor's degree?

In [9]:
round((df["education"]=="Bachelors").mean()*100,1)

np.float64(16.4)

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [10]:
round((df[df["education"].isin(["Bacholers","Masters","Doctorate"])]["salary"]==">50K").mean()*100,1)

np.float64(59.2)

What percentage of people without advanced education make more than 50K?

In [11]:
round((df[~(df["education"].isin(["Bacholers","Masters","Doctorate"]))]["salary"]==">50K").mean()*100,1)

np.float64(21.6)

What is the minimum number of hours a person works per week?

In [12]:
df["hours-per-week"].min()

1

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [13]:
round((df[df['hours-per-week']==df["hours-per-week"].min()]["salary"]==">50K").mean()*100,1)

np.float64(10.0)

What country has the highest percentage of people that earn >50K and what is that percentage?

Percentage of rich=(Total people in that countryRich people in that country​)×100

In [14]:
country_rich=(
    df[df["salary"] == ">50K"]["native-country"].value_counts()
    /
    df["native-country"].value_counts()
) * 100

In [15]:
highest_earning_country = country_rich.idxmax()
round(country_rich.max(), 1)

41.9

Identify the most popular occupation for those who earn >50K in India.

In [17]:
df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation'].value_counts().idxmax()

'Prof-specialty'